---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="./index.css" />

    <title>Tailwind Snipcart</title>
  </head>
  <body>
    <nav class="py-2 px-4 bg-black text-white sticky top-0 z-10 flex">
      <div>
        <h1 class="text-2xl"><span class="italic">Man</span>Bags</h1>
        <p class="text-slate-400 font-jim">Luxury bags for men</p>
      </div>
      <div class="ml-auto">cart</div>
    </nav>
    <script src="./index.js"></script>
  </body>
</html>
